<%= form_with url: search_path, method: :get do %>
  <h4 class="text-center fw-light">
    <%= label_tag :q, 'Busque um cargo ou  empresa' %>
  </h4>
  <div class="input-group">
    <%= text_field_tag :q, nil, :class => "form-control form-control-lg" %>
    <%= submit_tag 'Pesquisar', :class => "btn btn-custom btn-lg" %>
  </div>
<% end %>
