<h1>Cadastro de empresa</h1>

<p>Sua empresa ainda não está registrada na plataforma. 
Crie o registro de sua empresa para começar a publicar vagas!</p> 

<%= render 'form', company: @company %>

<%= link_to 'Voltar', root_path %>
